{% extends "base.html" %}
{% block title %}Участники{% endblock %}

{% block content %}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Адрес электронной почты</th>
        </tr>
    </thead>
    <tbody>
        {%for participant in participants%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{participant.surname}}</td>
            <td>{{participant.name}}</td>
            <td>{{participant.email}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{% endblock %}